<ion-header>
  <ion-toolbar>
    <ion-title>timeline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Create a list item for each movement the user is in. -->
  <ion-card>

    <!-- Display the title on top -->
    <ion-card-header *ngFor="let movement of timeline">
      <ion-card-title>{{ movement.name }} ({{ movement.period }})</ion-card-title>
      <ion-card-subtitle>Have you done it yet?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-toggle></ion-toggle>
      <ion-list>
        <ion-item>
          <ion-label slot="start">
            Jorn
          </ion-label>

          Done!

          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
