<ion-header>
  <ion-toolbar>
    <ion-title>Timeline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- Create a list item for each movement the user is in. -->
  <ion-card *ngFor = "let movement of movements">
    <!-- Display the title on top -->
    <ion-card-header>
      <ion-card-title>{{ movement.name }}</ion-card-title>
      <ion-card-subtitle>Have you done it yet?</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-toggle></ion-toggle>
      <ion-list>
        <ion-item *ngFor = "let leader of movement.leaders">
          <ion-label slot="start"></ion-label>
          {{ leader.username }}
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
