<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-img style="width: 200px; height: 100px;" src="/assets/gridt_logo.png"></ion-img> <!-- Gridt logo -->

  <ion-input type="text" placeholder="E-mail"></ion-input>
  <ion-input type="text" placeholder="Username"></ion-input>
  <ion-input type="password" placeholder="Password"></ion-input>
  <ion-button>Register</ion-button>

  <p>Already have an account? <a href="login">Log in</a></p>

</ion-content>
