.leader-list {
    width: 100%;
}

.leader-container {
    display: flex;
    justify-content: space-between;
}

.movement-card {
    margin: 5px;
    margin-bottom: 10px;
}

.floating-icon {
    vertical-align: top;
    align-self: start;
    align-items: flex-start;
    align-content: flex-start;
}
