<ion-header>
  <ion-toolbar>
    <ion-title>Credits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="padded">
    <p>This app was designed and prorammed by:</p>
    <ul>
      <li>Robin Dorstijn</li>
      <li>Andra Udrescu</li>
      <li>Marick Manrho</li>
      <li>Pieter van Vliet</li>
      <li>Diederik van Duuren</li>
      <li>Jorn Wildering</li>
      <li>Yori Ong</li>
    </ul>

    <ion-button (click)="dismiss()" expand="full">Cool!</ion-button>
  </div>
</ion-content>
