<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movements"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movement.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item lines="none">
             <ion-label text-wrap>{{ movement.name }}
             </ion-label>
          </ion-item>
          <ion-item >
              <p>{{ movement.shortDescription }}</p> 
          </ion-item >
          <ion-item lines="none">
            <ion-label slot="end" *ngIf=" movement.interval.hours !=  0" > 
              Hours per day: {{ movement.interval.hours }}
            </ion-label>
            <ion-label  slot="end" *ngIf=" movement.interval.days !=  0" >   Times per day: {{ movement.interval.days }}</ion-label>
            <ion-label  slot="end" *ngIf=" movement.interval.weeks !=  0" >   Times per week: {{ movement.interval.weeks }}</ion-label>
            <ion-label  slot="end" *ngIf=" movement.interval.months !=  0" >   Months per Year: {{ movement.interval.months }}
            </ion-label>
           </ion-item>
           
           <ion-button  *ngIf=" movement.subscribed ==  false" ion-button color="primary" margin (click)="onJoin()">Join</ion-button>
           
           </ion-col>
          </ion-row> 
  </ion-grid>
</ion-content>