<ion-header translucent>
  <ion-toolbar color="light-shade">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movements"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isLoading ? 'Loading...' : movement.name }}</ion-title>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item lines="none">
             <ion-label text-wrap>{{ movement.name }}
             </ion-label>
          </ion-item>
          <ion-item >
              <p>{{ movement.shortDescription }}</p> 
          </ion-item >
          <ion-item >
            <p>{{ movement.description }}</p> 
        </ion-item >

           <ion-button  ion-button  margin *ngIf="id!=movement.id" (click)="onJoin()">Join</ion-button>
           <ion-button  ion-button  margin *ngIf="id==movement.id" (click)="Unsubscribe()">Unsubscribe</ion-button>
           
           </ion-col>
          </ion-row> 
  </ion-grid>
</ion-content>