<ion-header translucent>
  <ion-toolbar color="light-shade">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movements"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (movement$ | async)?.name }}</ion-title>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="movement$ | async">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item lines="none">
             <ion-label text-wrap>{{ (movement$ | async)?.name }}
             </ion-label>
          </ion-item>
          <ion-item lines="none">
              <p><strong>{{ (movement$ | async)?.short_description }}</strong></p>
          </ion-item>
          <ion-item *ngIf="(movement$ | async )?.description">
            <p>{{ (movement$ | async)?.description }}</p>
        </ion-item>

        <ion-button 
          ion-button margin 
          *ngIf="( movement$ | async )?.subscribed == false"
          (click)="onSubscribe()"
        >
          Subscribe
        </ion-button>
        <ion-button
         ion-button margin 
         *ngIf="( movement$ | async )?.subscribed == true"
         (click)="onUnsubscribe()"
        >
          Unsubscribe
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
