<ion-header translucent>
  <ion-toolbar color="light-shade">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movements"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (movement$ | async)?.name }}</ion-title>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="movement$ | async">
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <h2>{{ (movement$ | async)?.name }}</h2>
          <p class="shortdescription">{{ (movement$ | async)?.short_description }}</p>
          <p class="longdescription" *ngIf="(movement$ | async )?.description">{{ (movement$ | async)?.description }}</p>
          
          <ion-button 
            ion-button margin 
            *ngIf="( movement$ | async )?.subscribed == false"
            (click)="onSubscribe()"
          >
            Subscribe
          </ion-button>
          <ion-button
            ion-button margin 
            *ngIf="( movement$ | async )?.subscribed == true"
            (click)="onUnsubscribe()"
          >
            Unsubscribe
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
