<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movements"></ion-back-button>
    </ion-buttons>
    <ion-title>New Movement</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="confirmCreation()" [disabled]="!form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea rows="2" formControlName="short_description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="
        !form.get('short_description').valid && form.get('short_description').touched
      ">
        <ion-col size-sm="6" offset-sm="3">
          <p>Description must be between 1 and 180 characters.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="3" formControlName="short_description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <div formGroupName="interval">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">
                Hours
              </ion-label>
              <ion-input type="number" formControlName="hours"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">
                Days 
              </ion-label>
              <ion-input type="number" formControlName="days"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </form>
</ion-content>