<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movements"></ion-back-button>
    </ion-buttons>
    <ion-title>New Movement</ion-title>
    <ion-buttons slot="primary">
      <ion-button id="confirmCreation" (click)="confirmCreation()" [disabled]="!form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Movement name*</ion-label>
            <ion-input type="text" autocomplete autocorrect ngDefaultControl formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="
        !form.get('name').valid && 
        form.get('name').touched &&
        form.get('name').value != ''
      ">
        <ion-col size-sm="6" offset-sm="3">
          <p>Name must be between 4 and 50 characters.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Short Description*</ion-label>
            <ion-textarea rows="2" ngDefaultControl formControlName="short_description"placeholder="What are we going to do?"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="
        !form.get('short_description').valid && 
        form.get('short_description').touched &&
        form.get('short_description').value != ''
      ">
        <ion-col size-sm="6" offset-sm="3">
          <p>Short description must be between 10 and 100 characters.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea autoGrow="true" rows="3" ngDefaultControl formControlName="description" placeholder="Inspire others to join! After which activities are we allowed to fire the signal? Why and how are we going to do this. What messages should users spread around the movement to encourage others? The more specific and engaging you specify the details, the easier it will be for people to participate in the movement."></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">
              Interval*
            </ion-label>
            <ion-select ngDefaultControl formControlName="interval">
              <ion-select-option [value]="interval" *ngFor="let interval of intervalTypes">{{ interval }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">
              Category*
            </ion-label>
            <ion-select multiple="true" ngDefaultControl formControlName="category">
              <ion-select-option [value]="category" *ngFor="let category of categories">{{ category }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">
              Location*
            </ion-label>
            <ion-select ngDefaultControl formControlName="location">
              <ion-select-option [value]="location" *ngFor="let location of locations">{{ location }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <small>Items marked with * are compulsory</small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>