<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Movements
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <!-- First an explicit search bar -->
  <ion-row>
    <ion-col size-md="6" offset-md="3">
      <ion-searchbar ></ion-searchbar>
    </ion-col>
  </ion-row>
<!-- Then print a list of all the movements -->
<ion-list>
    <ion-grid>
        
  <!-- Create a list item for each search result.
    Here I had to guess the routerLink, but that can be changed later.
    async allows the results to change by making a new search.
    -->
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item button *ngFor="let movement of movements" [routerLink]="['/', 'movements', movement.id]" >
           <!-- Right now, this just shows every single movement -->
           <!-- Display the title on the left -->
           <ion-label text-wrap>
             <h3>{{ movement.name }}</h3>
             <p>{{ movement.shortDescription }}</p> 
           </ion-label>
           
           <!-- Display the interval (like, weekly, monthly etc.) on the right -->
           <ion-label slot="end"> 
              Hours: {{ movement.interval.hours }}
              Days: {{ movement.interval.days }}
              Weeks: {{ movement.interval.weeks }} 
              Months: {{ movement.interval.months }}
           </ion-label>
          </ion-item>
         </ion-col>
        </ion-row> 
     </ion-grid>
  
</ion-list>

</ion-content>
