<ion-header>
  <ion-toolbar>
    <ion-title>movements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- First an explicit search bar -->
  <ion-searchbar></ion-searchbar>

  <!-- Then print a list of all the movements -->
  <ion-list>

    <!-- Create a list item for each search result.
      Here I had to guess the routerLink, but that can be changed later.
      async allows the results to change by making a new search.
      -->
    <ion-item button>

      <!-- Display the title on the left -->
      <ion-label text-wrap>
        <h3>Item Title</h3>
      </ion-label>

      <!-- Display the intervall (like, weekly, monthly etc.) on the right -->
      <ion-label slot="end">
        w
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
