<ion-header>
    <ion-toolbar>
        <ion-title>Announcements of {{this.movement.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-grid>
            <div>
                <ion-button (click)="clickNew()" fill="outline" expand="full">
                    New announcement
                </ion-button>
            </div>
            <br>
            <div  *ngFor="let announcement of announcements$ | async">
                <ion-row style="font-size: small;">
                    <ion-col>
                        by: {{announcement.poster.username}}
                    </ion-col>
                    <ion-col>
                        at: {{announcement.created_time.split("+")[0]}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="font-size: large;">
                        {{announcement.message}}
                    </ion-col>
                    <ion-col size="auto">
                        <ion-button (click)="clickUpdate()" color="warning" size="small" shape="round">
                            🖊
                        </ion-button>
                        <ion-button (click)="clickRemove(announcement)" color="danger" size="small" shape="round">
                            ❌
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
        <ion-button (click)="dismiss()" expand="full">Done</ion-button>
    </div>
</ion-content>