<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
          <p>This app is open-source and distributed under the GNU-GPLv3 license. 
          (c) Stichting Gridt, 2020, Groningen, the Netherlands</p>
          <ion-button expand="block" (click)="presentTutorial()"> Tutorial </ion-button>
          <ion-button expand="block" (click)="presentPrivacy()"> Privacy policy </ion-button>
          <ion-button expand="block" (click)="presentCredits()"> Roll credits! </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>