<ion-content>
  <ion-slides pager="true">
      <ion-slide class="step-one">
          <ion-img class="intro-img" src="/assets/gridt_logo.png" width="30vw"></ion-img>
          <h1>Hello, and welcome to the Gridt</h1>
          <p>Gridt is a signaling network that helps you reinforce actions that 
            make our world a little nicer.</p>
      </ion-slide>
    
    <ion-slide class="step-two">
      <p>Users on the Gridt organize in <strong>movements</strong> and 
        communicate with <strong>signals</strong>.</p>
      <ion-img class="intro-img" src="/assets/shapes.svg"></ion-img>
      <p>People in a movement act together on a specific goal, one action at a
        time.</p>
      <p>This action can be anything: flossing, math homework, or a random act
        of kindness.</p>
    </ion-slide>
    
    <ion-slide class="step-three">    
      <p>With the signal, you can indicate whether or not your have completed
        your action for the movement.</p>
      <ion-img class="intro-img" src="/assets/shapes.svg"></ion-img>
      <p>In a movement, you and your signal are only seen by your 
        <strong>followers</strong>, while you see only your 
        <strong>leaders</strong> and their signals.</p>
      <p>Your job in the movement is to follow your leaders and to lead your
        followers in action.</p>
    </ion-slide>
    
    <ion-slide class="step-four">
      <p>Joining a movement will give you four leaders to follow. You may 
      replace leaders whenever you activate your signal.</p>
      <ion-img class="intro-img" src="/assets/shapes.svg"></ion-img>
      <p>In a movement, you can attach a message to your signal to encourage 
      your followers.</p>
    </ion-slide>

    <ion-slide class="step-five">
      <p>You are free to join and leave any movement at any time.</p>
      <ion-img class="intro-img" src="/assets/shapes.svg"></ion-img>
      <p>Although you cannot have conversations on the Gridt, we encourage you
        to interact with other users and our project outside the app and to 
        start your own movements!</p>
      <ion-button (click)="finish()">Let's go</ion-button>
    </ion-slide>    
  </ion-slides>
</ion-content>