<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-buttons *ngIf="router.url === '/about'">
          <ion-button (click)="finishTutorial()">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-slides pager="true">
          <ion-slide class="tutorial-slide">
            <!--<ion-img class="intro-logo" src="/assets/gridt_logo.png" ></ion-img>
            <h3 class="ion-text-center">Hello, and welcome to the Gridt</h3>
            <p class="ion-text-center">Gridt is a signaling network that helps you reinforce actions that 
              make our world a little nicer.</p> -->
              <ion-img class="intro-logo" src="/assets/PPC-logo.png" ></ion-img>
              <h3 class="ion-text-center">Welcome to the Digital Participation symposium!</h3>
              <p class="ion-text-center">We are going to test a new kind of digital network, named 'Gridt'.</p>
          </ion-slide>
          
          <ion-slide class="tutorial-slide">
            <!-- <p class="ion-text-center">Users on the Gridt organize in <strong>movements</strong> and 
              communicate with <strong>signals</strong>.</p>
            <ion-img class="intro-img" src="/assets/about/intro_anim_1.gif"></ion-img>
            <p class="ion-text-center">People in a movement act together on a specific goal, one action at a
              time.<br>
              This action can be anything: flossing, math homework, or a random act
              of kindness.</p> -->
            <p class="ion-text-center">Instead of talking to each other, we use this network to signal our
              <strong>cooperation</strong> with a collective task.</p>
              <ion-img class="intro-img" src="/assets/about/Animation_ppc1.gif"></ion-img>
              <p class="ion-text-center">We call the people who are organized this way a <strong>movement.</strong><br>
                Today, our task is to share our thoughts on themes of the symposium.</p>
          </ion-slide>
          
          <ion-slide class="tutorial-slide"> 
            <!-- <p class="ion-text-center">With the signal, you can indicate whether or not your have completed
              your action for the movement.</p>
            <ion-img class="intro-img" src="/assets/about/intro_anim_2.gif"></ion-img>
            <p class="ion-text-center">In a movement, you and your signal are only seen by your 
              <strong>followers</strong>, while you see only your 
              <strong>leaders</strong> and their signals.<br>
              Your job in the movement is to follow your leaders and to lead your
              followers in action.</p> -->
            <p class="ion-text-center">Activate the signal and share your thoughts along with it to complete 
              your contribution to the movement.</p>
            <ion-img class="intro-img" src="/assets/about/Animation_ppc2.gif"></ion-img>
            <p class="ion-text-center">In a movement, you will see the signals from people in front of you, while 
              your signal goes to the people behind you.<br>
              Your job is to lead and follow each other by contributing equally.</p>
          </ion-slide>
          
          <ion-slide class="tutorial-slide">
            <!-- <p class="ion-text-center">Joining a movement will give you four leaders to follow. You may 
            replace leaders whenever you activate your signal.</p>
            <ion-img class="intro-img" src="/assets/about/intro_anim_3.gif"></ion-img>
            <p class="ion-text-center">In a movement, you can attach a message to your signal to encourage 
            your followers.</p> -->
            <p class="ion-text-center">Every participant in a movement will always see four others in front of 
              them.</p>
            <ion-img class="intro-img" src="/assets/about/Animation_ppc3.gif"></ion-img>
            <p class="ion-text-center">After contributing your signal, you may choose to rewire your 
              connections to receive input from other people.</p>
          </ion-slide>

          <ion-slide class="tutorial-slide">
            <!-- <p class="ion-text-center">You are free to join and leave any movement at any time.</p>
            <ion-img class="intro-img" src="/assets/about/intro_anim_4.gif"></ion-img>
            <p class="ion-text-center">Use Gridt to support all actions and movements that will shape our future 
              planet and communities. We encourage you to interact with other users 
              and our project outside the app and to start your own movements!</p> -->
            <p class="ion-text-center">The wave of signals will be reset after a fixed time and repeated for 
              a next round.</p>
            <ion-img class="intro-img" src="/assets/about/Animation_ppc4.gif"></ion-img>
            <p class="ion-text-center">We wish you an inspiring session full of fresh ideas.</p>
            <ion-button (click)="finishTutorial()">Let's get started</ion-button>
          </ion-slide>    
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
