<ion-header>
  <ion-toolbar color="primary">
    <ion-title>sorting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list>
    <ion-list-header>Single Selection</ion-list-header>
    
    <ion-item>
    <ion-label>Gender</ion-label>
    <ion-select [(ngModel)]="selected_value" (ionChange)="Getselected()" [ngModelOptions]="{standalone: true}">
    <ion-select-option value="f">Female</ion-select-option>
    <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
    </ion-item>
    
    </ion-list> -->
  <ion-select *ngIf="filterOption" [(ngModel)]="filterOption" placeholder="Filter" multiple>
    <ion-select-option value="Done">Done</ion-select-option>
    <ion-select-option value="Misc">Misc</ion-select-option>
    <ion-select-option value="Health">Health</ion-select-option>
    <ion-select-option value="Mind">Mind</ion-select-option>
    <ion-select-option value="Community">Community</ion-select-option>
    <ion-select-option value="Sustain">Sustain</ion-select-option>
  </ion-select>
  <ion-select *ngIf="sortingOption" [(ngModel)]="sortingOption" placeholder="Sort">
    <ion-select-option value="D-first">Done first</ion-select-option>
    <ion-select-option value="D-last">Done last</ion-select-option>
    <ion-select-option value="A-first">Alphabetical</ion-select-option>
    <ion-select-option value="A-last">Reverse Alphabetical</ion-select-option>
  </ion-select>
  <ion-button (click)="handleSort()" routerLink="/home">Sort</ion-button>
</ion-content>
