<ion-header>
  <ion-toolbar color="primary">
    <ion-title>sorting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select [(ngModel)]="filterOption" placeholder="Filter" multiple>
    <ion-select-option value="Done">Done</ion-select-option>
    <ion-select-option value="Misc">Misc</ion-select-option>
    <ion-select-option value="Health">Health</ion-select-option>
    <ion-select-option value="Mind">Mind</ion-select-option>
    <ion-select-option value="Community">Community</ion-select-option>
    <ion-select-option value="Sustain">Sustain</ion-select-option>
  </ion-select>
  <ion-select [(ngModel)]="sortingOption" placeholder="Sort">
    <ion-select-option value="D-first">Done first</ion-select-option>
    <ion-select-option value="D-last">Done last</ion-select-option>
    <ion-select-option value="A-first">Alphabetical</ion-select-option>
    <ion-select-option value="A-last">Reverse Alphabetical</ion-select-option>
  </ion-select>
  <ion-button (click)="handleSort()" routerLink="/home">Sort</ion-button>
</ion-content>
