ion-avatar {
  --border-radius: 10px;
  width: 150px;
  height: 150px;
  margin: auto;
}

ion-item-divider ion-label {
  width: 100%;
  text-align: center;
}

ion-card-header {
  background-color: #f4f5f8;
}
