.intro-logo {
    max-width: 50vw;
    max-height: 50vw;
    overflow: hidden;
}

.intro-img {
    max-width: 90vw;
    max-height: 90vw;
    overflow: hidden;
}

.tutorial-slide {
    height: 100vh;
    flex-direction: column;
    text-align: justify;
}