.intro-logo {
    max-width: 50vw;
    max-height: 50vw;
    overflow: hidden;
}

.intro-img {
    max-width: 90vw;
    max-height: 90vw;
    overflow: hidden;
}

p {
    padding: 1em;
}

.step-one {
    height: 100vh;
    flex-direction: column;
    text-align: justify;
}

.step-two {
    height: 100vh;
    flex-direction: column;
    text-align: justify;
}

.step-three {
    height: 100vh;
    flex-direction: column;
    text-align: justify;
}

.step-four {
    height: 100vh;
    flex-direction: column;
    text-align: justify;
}

.step-five {
    height: 100vh;
    flex-direction: column;
    text-align: justify;
}