.p {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 16;
    width: 200;
    max-height: 20px;
}

.p-expanded {
    text-overflow: initial;
    overflow: visible;
    white-space: normal;
    height: 200;
    width: 200;
    max-height: 200px;
    transition: max-height 1s ease-in-out;
}