.leader-list {
    width: 100%;
}

.leader-container {
    display: flex;
    justify-content: space-between;
}

.leader-message {
    color: black;
}

.movement-card{
    margin: 5px;
    margin-bottom: 10px;
}
