.leader-list {
    width: 100%;
}

.leader-container {
    display: flex;
    justify-content: space-between;
}

.movement-card{
     margin: 10px;
     margin-bottom: 30px;
     min-width: 300px;
}
.ion-row {
    justify-content: center;
}
